.header-back{
    display: flex;
    flex-direction: row;
   
}
.header-main{
    background-image: url(./headerrrrr.jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-side-of-header{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 4%;
    row-gap: 8%;
}
.left-side-of-header h1{
    color: #2E3480;
    font-family: Poppins;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    margin: 0px;
}
.left-side-of-header p{
    color: #7576C6;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;
    padding-top: 6%;
    padding-bottom: 6%;
}
.right-side-of-header{
    width: 50%;
    margin-top: 0px;
}
.right-side-of-header-img{
    width:100%;
    height: 420px;
}
.left-side-of-header-button{
    border-radius: 23px;
    background: #2E3480;
    border-color: #2E3480;
    color: #F0EEF0;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 249px;
    height: 53px;
    flex-shrink: 0;
}
.left-side-of-header-buttonn{
    border-radius: 23px;
    background: #2E3480;
    border-color: #2E3480;
    color: #F0EEF0;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 249px;
    height: 53px;
    flex-shrink: 0;
}
.left-side-of-header-buttonnnRRR{
    border-radius: 23px;
    background: #2E3480;
    border-color: #2E3480;
    color: #F0EEF0;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 249px;
    height: 53px;
    flex-shrink: 0;
    margin-top: 1%;
    margin-left: 1%;
}
.left-side-of-header-buttonnnRRR:hover{
    border-radius: 23px;
    color: #2E3480;
    border-color: #2E3480;
    background-color: #F0EEF0;
    font-size: 18px;
}
.left-side-of-header-button:hover{
    border-radius: 23px;
    color: #2E3480;
    border-color: #2E3480;
    background-color: #F0EEF0;
    font-size: 18px;
}
.meet-team-button{
    border-radius: 23px;
    color: #2E3480;
    border-color: #2E3480;
    background-color: #F0EEF0;
    font-size: 20px;
    padding: 3%;
    margin-top: 4%;
}
.meet-team-button:hover{
    border-radius: 23px;
    color: #F0EEF0;
    border-color: #2E3480;
    background-color: #2E3480;
    font-size: 20px;
    padding: 3%;
    margin-top: 4%;
}
.first-one-in-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 2%;
    justify-content: center;
    text-align: center;
}
.left-side-of-first-in-slide{
    background-color: #F0EEF0;
    width:115px;
    height: 115px;
    border-radius: 90px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-side-of-first-in-slidee{
    background-color: #F0EEF0;
    width:115px;
    height: 115px;
    border-radius: 90px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-side-of-first-in-slideee{
    background-color: #F0EEF0;
    width:115px;
    height: 115px;
    border-radius: 90px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-side-of-first-in-slide img{
    width:120px;
    height: 100px;
}
.left-side-of-first-in-slidee img{
    width: 100px;
    height: 70px;
}
.left-side-of-first-in-slideee img{
    width: 70px;
    height: 50px;
}
.right-side-of-first-in-slide{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.right-side-of-first-in-slide h1{
    color: #2E3480;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    
    }

       
.right-side-of-first-in-slide p{
    color: #F0EEF0;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: -25px;
}
.slidee{
    background: #A1A4CD; 
    padding: 3%;
}
.text-after-welcome{
    color: #ffffff;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}
.text-after-welcomee{
    color: #2E3480;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
   
}
.form-of-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:0px;
}
#signInButton{
    border: 7px solid #7576C6;
    border-radius: 50px;
    
}
#login-full-vision{
    height: 100vh;
   margin: 0;
   background-image: 
       linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7)),
       url('./login.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width:100%;
}
#blablabla{
    margin-bottom: 30px;
}
.phone-input {
    height: 200px;
    border-radius: 10px; /* adjust this value to your liking */
   }
.the-welcome-sentencee{
    color: #2E3480;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
     margin-top: -25px; 
    text-align: center;
}   
.Confoverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .Conferencepopup {
    position: relative;
    z-index: 9999;
   
   }
   .Conferencepopup-content{
    background-color: aliceblue;
    padding: 38px;
    color: #2E3480;
    font-size: 28px;
   }
   .buttonsOfConfPopup{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
   }
   .inputs-in-user-info{
    display: flex;
    flex-direction: row;
   }

   .inputs-in-user-info textarea{
   border-radius: 7px;
   }
/* Responsive for iPad*/
@media screen and (min-width:767px) and (max-width:1123px){
    .header-back{
        display: flex;
        flex-direction: column;
    }
    .services-mini-one{
     display: flex;
     flex-direction: column;
    }
    .header-main{
        background-image: none;
        height: auto;
        background-color: #F0EEF0;
       }
    .left-side-of-header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 1%;
    }
    .left-side-of-header h1{
        color: #2E3480;
        font-family: Poppins;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0px;
    }
    .left-side-of-header p{
        color: #7576C6;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
    }
    .right-side-of-header{
        width: 100%;
        margin-top: 9%;
    }
    .right-side-of-header-img{
        width:100%;
        transform: scaleX(1);
    }
    .left-side-of-servicess{
        width:0%;
        display: none;
        margin:12px;
    }
    .main-div-of-servicess{
        margin:2%;
    }
    .right-side-of-servicess p{
        width:80%;
    }
    
}



/* Responsive for Phone*/
@media (max-width: 766px) {
    .header-main{
        background-image: none;
        height: auto;
        background-color: #F0EEF0;
       }
       .services-mini-one{
        display: flex;
        flex-direction: column;
       }
    .header-back{
        display: flex;
        flex-direction: column;
       
    }
    .left-side-of-servicess{
        width:0%;
        display: none;
        margin:12px;
    }
    .main-div-of-servicess{
        margin:2%;
    }
    .left-side-of-header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 1%;
    }
    .left-side-of-header h1{
        color: #2E3480;
        font-family: Poppins;
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0px;
    }
    .left-side-of-header p{
        color: #7576C6;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
    }
    .right-side-of-header{
        width: 100%;
        margin-top: 9%;
    }
    .right-side-of-header-img{
        width:100%;
        transform: scaleX(1);
    }
    .the-Our-Conferencess {
        font-size: 25px;
    }
    .left-side-of-header-buttonnnRRR{
        font-size: 18px;
        width:150px;
        height: 33px;
    }
    .Conferencepopup-content{
        font-size: 16px;
        padding: 13px;
    }
    .inputs-in-user-info input{
        margin-bottom: 0px;
    }
    
    .Conferencepopup{
        position:relative;
    }
}
