.logo-img-in-login{
    width: 80px;
    height: 60px;
}
.second-img-in-login{
    width: 100%;
    height: 550px;
    margin-top: 0px;
}
.first-in-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}
.the-welcome-sentence{
    color: #2E3480;
font-family: Poppins;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 90px; /* 84.906% */
margin-top: 0px;
text-align: center;
margin-bottom: 20px;
}
#forget_password{
    color: #2E3480;
}
.the-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:0px;
    padding-top: 0px;
}
.loginButton{
    width:50%;
    background-color: #2E3480;
    color: #FFF;
    border-radius: 30px;
    padding: 5px;
    font-weight: 700;
    font-size: 24px;
}
.SignIn-container{
    display: flex;
    flex-direction: column;
}
.login-connectusing{
    text-align: center;
}
.loginButton:hover{
   color: #2E3480;
   background-color: #FFF;
    
}
#forget_password:hover{
    color: #D9D9D9;
}
.auth-login{
    width:50%;
    border-radius: 30px;
}
.span-for-email{
    border-radius: 50px;
border: 2px solid #2E3480;
background: #FFF;
padding: 10px;
width: 35%;
flex-shrink: 0;
}
.login-email-button{
    border: none;
    background-color: #FFF;
}
.email-input-field{
    background-color: #FFFFFF;
 }
.form-of-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -400px;
}
.the-div-of-welcoming{
    display: flex;
    flex-direction: column;
}
@media (max-width: 767px) {
    .SignIn-container {
  
   background-size: cover;
   background-position: center;

    }
    .SignIn-form{
        width: 100vw;
    }
  
    .SignIn-img {
      display: none;
    }

    .text-shadow{
      text-shadow: 0 0 2px white;
    }
    

  }
 