#slider {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slide {
    float: left;
    width: calc(100% / 3); 
    display: none; 
   
  }
  
  .slide.active {
    display: block; 
  }
.middle-section{
    background-color: #F0EEF0;
}
.first-div-in-middle-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}
.header-in-middle-section{
    color: #2E3480;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 0px
}
.text-in-the-middle-section{
color: #7576C6;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 0px;}
.buttons-in-middle-section{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.buttons-in-middle-section button{
    background-color: #2E3480;
    width:6/100%;
    border-color: #2E3480;
    border: 0px;
    color: #fff;
    font-size: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    padding: 20px;
    
}
.buttons-in-middle-section button:hover{
  background-color: #fff;
  color: #2E3480;
}
#ddd{
  background-color: #fff;
  width: 400px;
  height: fit-content;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
.img-in-thee-slide{
  width: 400px;
height: 342.223px;
border-top-right-radius: 50px;
border-top-left-radius: 50px;
}
#the-div-in-middle-section{
  margin-left: 40px;
}
.header-in-thee-slide{
  color: #2E3480;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 83.333% */
}
.text-in-thee-slide{
  color: #2E3480;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 200;
  line-height: 30px; /* 83.333% */
}
.textt-in-thee-slide{
  color: #7576C6;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 200;
line-height: normal;
}