body {
    font-family: poppins;
  }
  
  .header-main {
    background-color: white;
  }
  .text-nnnf a {
    color: white;
  }
  .header-first-row-logo {
    width: 133px;
    height: 115.373px;
    flex-shrink: 0;
    margin-left: 50px;
  }
  .text-nnn a{
    color: #2e3480;
    }
  .navbarr {
    list-style-type: none ;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    color: #2e3480;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
  }
  .n {
    list-style-type: none ;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    color: #2e3480;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .ninFullscreen {
    list-style-type: none ;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    color: #2e3480;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 
  }
  .join-us-button {
    color: #f0eef0;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 30px;
    background: #2e3480;
    width: 151px;
    height: 57px;
    border-color: #2e3480;
    margin-right: 10px;
    margin-top: -10px;
  }
  .join-us-button:hover{
     background-color: #f0eef0;
     color: #2e3480;
     font-size: 30px;
  }
  .first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .first-row-second-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    column-gap: 50px;
    align-items: center;
    list-style-type: none;
  }
.ul-in-the-navbarr li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.ul-in-the-navbarr li{
  color: #2e3480 !important;
}
  .burger-menu {
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    display: none;
  }
  .the-button-right-here{
    margin-top: 20px;
  }
  .ul-in-the-navbarr{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 20px;
    font-size: 28px;
  }
  .burger-menu.close-icon::before {
    content: '&times;';
  }
  /* Responsive Styles */
  @media screen and (min-width:767px) and (max-width:1123px){
    .navbarr {
      margin-top: 2%;
       display: none;
       flex-direction: column;
       position: absolute;
       top: 100px;
       left: 0;
       background-color: #f0eef0;
       width: 90%;
       padding: 20px;
       z-index: 1;
     }
    .n{
      flex-direction: column;
      color: #2e3480 !important;
    }
    .join-us-button{
     margin-top: 0px;
     margin-right: 0px;
    } 
   .burger-menu.close-icon::before {
     content: '&times;';
   }
     .navbar.show-menu {
       display: flex;
     }
     .ul-in-the-navbarr{
         display: flex;
         flex-direction: column;
         list-style-type: none;
         row-gap: 10px;
         padding-left: 5px;
       }
     .header-main.menu-open {
       height: auto;
     }
     .burger-menu{
         display: block;
         margin-left: -1%;
         font-size: 45px;
         background: none;
         border: none;
         cursor: pointer;
     }
     .n{
      right:50%;
       position: absolute;
       flex-direction: column;
       background-color: #f0eef0;
       padding-left: 130px;
       padding-right: 130px;
       padding-top: 60px;
       padding-bottom: 60px;
       z-index: 99;
     }
     .text-nnn a{
     color: #2e3480;
     }
     .text-nnnf a{
      color: white;
      }
      .ninFullscreen{
        display: none;
      }
      .header-first-row-logo{
        margin: 0px;
      }
  }
  @media (max-width: 766px) {
    .navbarr {
     margin-top: 2%;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 0;
      background-color: #f0eef0;
      width: 90%;
      padding: 20px;
      z-index: 1;
    }
    .n{
     right:10%;
      position: absolute;
      flex-direction: column;
      background-color: #f0eef0;
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 30px;
      padding-bottom: 30px;
      z-index: 99;
    }
    .text-nnn a{
    color: #2e3480;
    }

    .text-nnnf a{
      color: white;
      }
   .join-us-button{
    margin-top: 0px;
    margin-right: 0px;
   } 
  .burger-menu.close-icon::before {
    content: '&times;';
  }
    .navbar.show-menu {
      display: flex;
    }
    .ul-in-the-navbarr{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        row-gap: 10px;
        padding-left: 5px;
      }
    .header-main.menu-open {
      height: auto;
    }
    .burger-menu{
        display: block;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
        margin-left:-76%;
        margin-bottom: 122%;
    }
    .ninFullscreen{
      display: none;
    }
    .header-first-row-logo{
      margin: 0px;
    }
  }
  