body {
    font-family: poppins;
  }
  
  .header-main {
    background-color: #f0eef0;
  }
  
  .header-first-row-logo {
    width: 133px;
    height: 115.373px;
    flex-shrink: 0;
    margin-left: 50px;
  }
  
  .navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    color: #2e3480;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
  }
  
  .join-us-button {
    color: #f0eef0;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 30px;
    background: #2e3480;
    width: 151px;
    height: 57px;
    border-color: #2e3480;
    margin-right: 10px;
    margin-top: -10px;
  }
  .join-us-button:hover{
     background-color: #f0eef0;
     color: #2e3480;
     font-size: 30px;
  }
  .first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .first-row-second-part {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 50px;
    align-items: center;
    list-style-type: none;
  }
.ul-in-the-navbar li:hover{
    text-decoration: underline;
    cursor: pointer;
}
  .burger-menu {
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    display: none;
  }
  .the-button-right-here{
    margin-top: 20px;
  }
  .ul-in-the-navbar{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 20px;
    font-size: 28px;
  }
  .burger-menu.close-icon::before {
    content: '&times;';
  }
  /* Responsive Styles */
  @media screen and (min-width:767px) and (max-width:1123px){
    .navbar {
      margin-top: 2%;
       display: none;
       flex-direction: column;
       position: absolute;
       top: 100px;
       left: 0;
       background-color: #f0eef0;
       width: 90%;
       padding: 20px;
       z-index: 1;
     }
    .join-us-button{
     margin-top: 0px;
     margin-right: 0px;
    } 
   .burger-menu.close-icon::before {
     content: '&times;';
   }
     .navbar.show-menu {
       display: flex;
     }
     .ul-in-the-navbar{
         display: flex;
         flex-direction: column;
         list-style-type: none;
         row-gap: 10px;
         padding-left: 5px;
       }
     .header-main.menu-open {
       height: auto;
     }
     .burger-menu{
         display: block;
         margin-left: -1%;
         font-size: 45px;
         background: none;
         border: none;
         cursor: pointer;
     }
  }
  @media (max-width: 766px) {
    .navbar {
     margin-top: 2%;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 0;
      background-color: #f0eef0;
      width: 90%;
      padding: 20px;
      z-index: 1;
    }
   .join-us-button{
    margin-top: 0px;
    margin-right: 0px;
   } 
  .burger-menu.close-icon::before {
    content: '&times;';
  }
    .navbar.show-menu {
      display: flex;
    }
    .ul-in-the-navbar{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        row-gap: 10px;
        padding-left: 5px;
      }
    .header-main.menu-open {
      height: auto;
    }
    .burger-menu{
        display: block;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
    }
  }
  