.not-found-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #d4d5e3;
    color: #2E3480;
    font-family: poppins;
}
.o404-title{
   font-size: 228px;
   font-weight: 900;
}
.o404-text{
    font-size: 40px;
}
@media screen and (min-width:767px) and (max-width:1123px){}
@media (max-width: 766px) {}