.main-div-of-servies{
    display: flex;
    flex-direction: row;
}
.services-mini-one{
    background-color: #2E3480;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    align-items: center;
    justify-content: center;
}
.first-images-in-workshops{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    margin:2%;
}
.services-mini-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.services-mini-onee{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.rightSide-services-mini-one h3{
    font-size: 24px;
}
.first-images-in-workshops img{
    width:300px;
    height: 200px;
}
.first-div-in-scroll{
    display: flex;
    flex-direction: column;
    row-gap: 2%;
}
.first-div-in-scroll h3{
    text-align: center;
    align-items: center;
}
.main-div-of-serviess{
    display: flex;
    flex-direction: row;
    column-gap: 0px;
}
.left-side-of-services{
    width:50%;
}
.left-side-of-servicess{
    width:50%;
    margin: 0px;
}
.right-side-of-services{
    width: 50%;
}
.right-side-of-servicess{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 20px;
}
.right-side-of-services h2{
    color: #2E3480;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 125% */
    letter-spacing: 0px;
    margin: 0px;
    line-height: 1.2;
}
.right-side-of-servicess h2{
    color: #2E3480;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 125% */
    letter-spacing: 0px;
    margin: 0px;
    line-height: 1.2;
}
.right-side-of-services p{
    color: #7576C6;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
}
.right-side-of-servicess p{
    color: #7576C6;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
}
.left-side-of-services img{
    width:80%;
    height: 400px;
    display: block;
    margin-left: 20px;
}
.last-in-right-side-of-services{
    display: flex;
    flex-direction: row;
    column-gap: 15%;
}
.elipse_in_services{
    background-color: #F0EEF0;
    height: 90px;
    width:90px;
    border-radius:50%;
    border-color: #F0EEF0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-of-circle-and-text{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    margin: 10px;
    align-items: center;
}
.div-of-circle-and-text p{
    width:70%;
}
.elipse_in_services img{
    width:50px;
    height: 50px;
}
.left-side-of-work-button{
    border-radius: 23px;
    background: #2E3480;
    border-color: #2E3480;
    color: #F0EEF0;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 200px;
    height: 53px;
    flex-shrink: 0;
}
.left-side-of-work-button:hover{
    border-radius: 23px;
    color: #2E3480;
    border-color: #2E3480;
    background-color: #F0EEF0;
    font-size: 18px;
}
.the-main-in-services-section{
   width: 100%;
   background-color: #2E3480;
   display: flex;
   flex-direction: column;
   row-gap: 100px;
}
.the-main-in-services-section-h2{
    background-color: #2E3480;
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 2%;
    padding-bottom: 5%;
    font-weight: 700;
    font-family: Poppins;
}

.the-list-in-services{
    color: white;
}
.rightSide-services-mini-one{
    display: flex;
    flex-direction: column;
    width:25%;
    justify-content:center ;  
    color: white;
    align-items: flex-start;
}
.leftSide-services-mini-one img{
   width: 100%;
}

.leftSide-services-mini-one{
    width: 55%;
}
.the-list-in-services li{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
}
/*iPad Responsive*/
@media screen and (min-width:767px) and (max-width:1123px){
    .main-div-of-servies{
        display: flex;
        flex-direction: column;
    }
    .services-mini-onee{
        flex-direction: column-reverse;
    }
    .leftSide-services-mini-one{
        width: 100%;
    }
    .leftSide-services-mini-one img{
        width: 100%;
    }
    .the-main-in-services-section-h2{
       font-size: 55px;
    }
    .rightSide-services-mini-one{
        width: 100%;
        padding: 6%;
    }
    .right-side-of-services{
        width:90%;
    }
    .right-side-of-services h2{
        color: #2E3480;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 100px; /* 125% */
        letter-spacing: 0px;
        margin: 0px;
    }
    .last-in-right-side-of-services{
        display: flex;
        flex-direction: column;
    }
    .main-div-of-serviess{
        margin:2%;
    }
    .right-side-of-servicess{
        width:80%;
    }
    .services-mini-one{
        display: flex;
        flex-direction: column;
       }
}
/*Phone responsive*/
@media (max-width: 766px) {
    .main-div-of-servies{
        display: flex;
        flex-direction: column;
    }
    .leftSide-services-mini-one{
        width: 100%;
    }
    .services-mini-onee{
        flex-direction: column-reverse;
    }
    .the-main-in-services-section-h2{
        font-size: 45px;
     }
    .leftSide-services-mini-one img{
        width: 100%;
    }
    .rightSide-services-mini-one{
        width: 100%;
        padding: 5%;
    }
    .services-mini-one{
        flex-direction: column;
       }
    .left-side-of-services img{
        width:80%;
        height: 400px;
        display: none;
    }
    .right-side-of-services{
        width:90%;
    }
    .right-side-of-services h2{
        color: #2E3480;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 100px; /* 125% */
        letter-spacing: 0px;
        margin: 0px;
    }
    .last-in-right-side-of-services{
        display: flex;
        flex-direction: column;
    }
    .main-div-of-serviess{
        margin:2%;
    }
    .right-side-of-servicess{
        width:80%;
    }
    .header-in-testimonial{
        font-family: Poppins;
        font-size: 24px;
        font-weight: 200;
        line-height: 1.2;
    }
}
